.header {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(30, 37, 43, 0.95);
  backdrop-filter: blur(5px);
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__avatar {
  width: 100px;
  border-radius: 10px;
  overflow: hidden;
}

@media (max-width: 576px) {
  .header__avatar {
    width: 70px;
  }
}
